<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <title>FurniStudio Login Form</title>
    <link rel="stylesheet" type="text/css" href="css/styleLogin.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <img class="wave" src="images/wave.png">
    <div class="container">
        <div class="img">
            <img src="images/bg.svg">
        </div>
        <div class="login-content">
            <form th:action="@{/Login}" method="post">
                <img src="images/avatar.svg">
                <h2 class="title">Welcome</h2>
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <h5>Username</h5>
                        <input type="text" name="username" class="input">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="div">
                        <h5>Password</h5>
                        <input type="password" name="password" class="input">
                    </div>
                </div>
                <a href="#">Forgot Password?</a>
                <input type="submit" class="btn" value="Login">
                
                <!-- Social login buttons start here -->
                <div class="social-login">
                    <p>Or login with:</p>
                    <div class="social-icons">
                        <a href="#" class="social whatsapp"><i class="fab fa-whatsapp"></i></a>
                        <a href="#" class="social google"><i class="fab fa-google"></i></a>
                        <a th:href="@{/otpLogin}" class="social otp"><i class="fas fa-mobile-alt"></i></a>
                    </div>
                </div>
                <!-- Social login buttons end here -->
            </form>
        </div>
    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>
